{% extends 'adminlte/base.html' %}
{% load i18n %}

{% block title %}Add ProblemEnvironment{% endblock %}
{% block content %}{% load tz %}
<script type="text/javascript">
    function AllChecked(tf){
      var all = document.teams.all.checked;
      for (var i=0; i<document.teams.teams.length; i++){
        document.teams.teams[i].checked = tf;
      }
    }
  </script>
<h1>{% trans 'Add ProblemEnvironment' %}</h1>
<form action="" method="post", name="teams">{% csrf_token %}
        <th><input type="button" class="btn btn-primary" name="all" onClick="AllChecked(true)" value="{% trans 'All Checked' %}" /></th>
        <th><input type="button" class="btn btn-primary" name="all" onClick="AllChecked(false)" value="{% trans 'All Unchecked' %}" /></th>
        {{ form.as_p }}
    <input type="submit" value="{% trans 'Add' %}" />
</form>
{% endblock %}