{% extends 'adminlte/base.html' %}
{% load i18n %}

{% block title %}{% endblock %}
{% block content %}{% load tz %}
<h1>{{ problemenvironment.id }}</h1>
<div align="right">
    <button class="btn btn-info" onClick="location.href='{% url 'pstate-manage:problemenvironment-edit' pk=problemenvironment.id %}'" >{% trans 'Edit' %}</button>
    <button class="btn btn-danger" onClick="location.href='{% url 'pstate-manage:problemenvironment-recreate' pk=problemenvironment.id %}'" >{% trans 'Recreate Environment' %}</button>
    <button class="btn btn-danger" onClick="location.href='{% url 'pstate-manage:problemenvironment-apply' pk=problemenvironment.id %}'" >{% trans 'Apply(Terraform)' %}</button>
    <button class="btn btn-danger" onClick="location.href='{% url 'pstate-manage:problemenvironment-destroy' pk=problemenvironment.id %}'" >{% trans 'Destroy(Terraform)' %}</button>
    <button class="btn btn-danger" onClick="location.href='{% url 'pstate-manage:problemenvironment-delete' pk=problemenvironment.id %}'" >{% trans 'Delete' %}</button>
</div>

<div class="nav-tabs-custom">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#tab_1" data-toggle="tab">{% trans 'Info' %}</a></li>
        <li><a href="#tab_2" data-toggle="tab">{% trans 'Connection info' %}</a></li>
        <li><a href="#tab_3" data-toggle="tab">{% trans 'Log(ICTSC)' %}</a></li>
        <li><a href="#tab_4" data-toggle="tab">{% trans 'Log(terraform)' %}</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="tab_1">
            <table class="table table-striped table-bordered">
                <tbody>
                    <tr><th>{% trans 'ID' %}</th><td>{{ problemenvironment.id }}</td></tr>
                    <tr><th>{% trans 'State' %}</th><td>{% trans problemenvironment.state %}</td></tr>
                    <tr><th>{% trans 'State(Terraform)' %}</th><td>{% trans problemenvironment.environment.state %}</td></tr>
                    <tr><th>{% trans 'Team' %}</th><td>{{ problemenvironment.team }}</td></tr>
                    <tr><th>{% trans 'Problem name' %}</th><td>{{ problemenvironment.problem.name }}</td></tr>
                    <tr><th>{% trans 'Problem name(For management)' %}</th><td>{{ problemenvironment.problem.display_name }}</td></tr>
                    <tr><th>{% trans 'Created At' %}</th><td>{{ problemenvironment.created_at | localtime }}</td></tr>
                    <tr><th>{% trans 'Updated At' %}</th><td>{{ problemenvironment.updated_at | localtime }}</td></tr>
                </tbody>
            </table>
        </div>
        <div class="tab-pane" id="tab_2">
            <h3>{% trans 'FUMIDAI Server Connection Information' %}</h3>
            <table class="table table-striped table-bordered">
                <tbody>
                    <tr><th>{% trans 'FUMIDAI IP address' %}</th><td>
                        {% if problemenvironment.vnc_server_ipv4_address != None %}
                        {{ problemenvironment.vnc_server_ipv4_address }}
                        {% else %}
                        ※問題環境を作成中です※
                        {% endif %}
                    </td></tr>
                    <tr><th>{% trans 'FUMIDAI VNC port' %}</th><td>{{ problemenvironment.vnc_server_port }}</td></tr>
                    <tr><th>{% trans 'FUMIDAI SSH port' %}</th><td>22</td></tr>
                    <tr><th>{% trans 'FUMIDAI user' %}</th><td>{{ problemenvironment.vnc_server_username }}</td></tr>
                    <tr><th>{% trans 'FUMIDAI password' %}</th><td>{{ problemenvironment.vnc_server_password }}</td></tr>
                </tbody>
            </table>
        </div>
        <div class="tab-pane" id="tab_3">
            <table class="table table-striped table-bordered">
                <thead>
                <tr>
                    <th>{% trans 'Date' %}</th>
                    <th>{% trans 'Message' %}</th>
                    <th>{% trans 'Before state' %}</th>
                    <th>{% trans 'After state' %}</th>
                </tr>
                </thead>
                <tbody>
                {% for log in problemenvironment.sorted_log_set.all %}
                <tr>
                    <td>{{ log.created_at | localtime }}</td>
                    <td>{{ log.message }}</td>
                    {% if log.before_state is None %}
                    <td></td>
                    {% else %}
                    <td>{% trans log.before_state %}</td>
                    {% endif %}
                    {% if log.after_state is None %}
                    <td></td>
                    {% else %}
                    <td>{% trans log.after_state %}</td>
                    {% endif %}
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="tab-pane" id="tab_4">
            <table class="table table-striped table-bordered">
                <thead>
                <tr>
                    <th>{% trans 'ID' %}</th>
                    <th>{% trans 'Return code' %}</th>
                    <th>{% trans 'Std out' %}</th>
                    <th>{% trans 'Std err' %}</th>
                    <th>{% trans 'Created At' %}</th>
                </tr>
                </thead>
                <tbody>
                {% for log in problemenvironment.environment.sorted_log_set.all %}
                <tr>
                    <td>{{ log.id }}</td>
                    <td>{{ log.return_code }}</td>
                    <td>{{ log.stdout|linebreaks }}</td>
                    <td>{{ log.stderr|linebreaks }}</td>
                    <td>{{ log.created_at }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}