{% extends 'adminlte/base.html' %}
{% load i18n %}

{% block title %}{% endblock %}
{% block content %}{% load tz %}
<h1>{{ problemenvironment.id }}</h1>
<div align="right">
    <button class="btn btn-info" onClick="location.href='{% url 'pstate-manage:problemenvironment-edit' pk=problemenvironment.id %}'" >Edit</button>
    <button class="btn btn-danger" onClick="location.href='{% url 'pstate-manage:problemenvironment-destroy' pk=problemenvironment.id %}'" >Destroy(Terraform)</button>
    <button class="btn btn-danger" onClick="location.href='{% url 'pstate-manage:problemenvironment-delete' pk=problemenvironment.id %}'" >Delete</button>
</div>

<div class="nav-tabs-custom">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#tab_1" data-toggle="tab">Info</a></li>
        <li><a href="#tab_2" data-toggle="tab">Connection info</a></li>
        <li><a href="#tab_3" data-toggle="tab">Log(ICTSC)</a></li>
        <li><a href="#tab_4" data-toggle="tab">Log(terraform)</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="tab_1">
            <table class="table table-striped table-bordered">
                <tbody>
                    <tr><th>ID</th><td>{{ problemenvironment.id }}</td></tr>
                    <tr><th>State</th><td>{{ problemenvironment.state }}</td></tr>
                    <tr><th>State(Terraform)</th><td>{{ problemenvironment.environment.state }}</td></tr>
                    <tr><th>Team</th><td>{{ problemenvironment.team }}</td></tr>
                    <tr><th>Problem name</th><td>{{ problemenvironment.problem.name }}</td></tr>
                    <tr><th>Problem name(For management)</th><td>{{ problemenvironment.problem.display_name }}</td></tr>
                    <tr><th>Created At</th><td>{{ problemenvironment.created_at | localtime }}</td></tr>
                    <tr><th>Updated At</th><td>{{ problemenvironment.updated_at | localtime }}</td></tr>
                </tbody>
            </table>
        </div>
        <div class="tab-pane" id="tab_2">
            <h3>VNC</h3>
            <table class="table table-striped table-bordered">
                <tbody>
                    <tr><th>VNC IP address</th><td>{{ problemenvironment.vnc_server_ipv4_address }}</td></tr>
                    <tr><th>VNC port</th><td>{{ problemenvironment.vnc_server_port }}</td></tr>
                    <tr><th>VNC user</th><td>{{ problemenvironment.vnc_server_username }}</td></tr>
                    <tr><th>VNC password</th><td>{{ problemenvironment.vnc_server_password }}</td></tr>
                </tbody>
            </table>
        </div>
        <div class="tab-pane" id="tab_3">
            <table class="table table-striped table-bordered">
                <thead>
                <tr>
                    <th>Date</th>
                    <th>Message</th>
                    <th>Before state</th>
                    <th>After state</th>
                </tr>
                </thead>
                <tbody>
                {% for log in problemenvironment.logs.all %}
                <tr>
                    <td>{{ log.created_at | localtime }}</td>
                    <td>{{ log.message }}</td>
                    <td>{{ log.before_state }}</td>
                    <td>{{ log.after_state }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="tab-pane" id="tab_4">
            <table class="table table-striped table-bordered">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Return code</th>
                    <th>Std out</th>
                    <th>Std err</th>
                    <th>Created At</th>
                </tr>
                </thead>
                <tbody>
                {% for log in problemenvironment.environment.logs.all %}
                <tr>
                    <td>{{ log.id }}</td>
                    <td>{{ log.return_code }}</td>
                    <td>{{ log.stdout|linebreaks }}</td>
                    <td>{{ log.stderr|linebreaks }}</td>
                    <td>{{ log.created_at }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}