{% extends 'adminlte/base.html' %}
{% load i18n %}

{% block title %}{% endblock %}
{% block content %}{% load tz %}
<h1>{% trans 'Problem Environments' %}</h1>
<table class="table table-striped table-bordered">
    <thead>
    <tr>
        <th>{% trans 'ID' %}</th>
        <th>{% trans 'State' %}</th>
        <th>{% trans 'Team' %}</th>
        <th>{% trans 'Problem name' %}</th>
        <th>{% trans 'Problem name(For management)' %}</th>
        <th>{% trans 'Created At' %}</th>
        <th>{% trans 'Updated At' %}</th>
    </tr>
    </thead>
    <tbody>
    {% for problemenvironment in object_list %}
    <tr>
        <td>
            <a href="{% url 'pstate-manage:problemenvironment-detail' pk=problemenvironment.id %}">{{ problemenvironment.id }}</a>
        </td>
        <td>
            {{ problemenvironment.state }}
        </td>
        <td>
            {{ problemenvironment.team }}
        </td>
        <td>
            {{ problemenvironment.problem.display_name }}
        </td>
        <td>
            {{ problemenvironment.problem.name }}
        </td>
        <td>
            {{ problemenvironment.created_at| localtime }}
        </td>
        <td>
            {{ problemenvironment.updated_at | localtime }}
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% if is_paginated %}
  <nav>
    <ul class="pagination">
      {% if page_obj.has_previous %}
        <li>
          <a href="?page={{ page_obj.previous_page_number }}">
            <span>{% trans 'Previous' %}</span>
          </a>
        </li>
      {% else %}
        <li class="disabled">
          <a href="#">
            <span>{% trans 'Previous' %}</span>
          </a>
        </li>
      {% endif %}

      {% for page in paginator.page_range %}
        <li {% if page == page_obj.number %}class="active"{% endif %}>
          <a href="?page={{ page }}">{{ page }}</a>
        </li>
      {% endfor %}

      {% if page_obj.has_next %}
        <li>
          <a href="?page={{ page_obj.next_page_number }}">
            <span>{% trans 'Next' %}</span>
          </a>
        </li>
      {% else %}
        <li {% if not page_obj.has_next %}class="disabled"{% endif %}>
          <a href="#">
            <span>{% trans 'Next' %}</span>
          </a>
        </li>
      {% endif %}
    </ul>
  </nav>
{% endif %}
{% endblock %}