{% extends 'adminlte/base.html' %}

{% block title %}{% endblock %}
{% block content %}{% load tz %}
<h2>{{ provider.name }}</h2>
<div align="right">
    <button class="btn btn-info" onClick="location.href='{% url 'pstate-manage:provider-edit' pk=provider.id %}'">Edit</button>
    <button class="btn btn-danger" onClick="location.href='{% url 'pstate-manage:provider-delete' pk=provider.id %}'">Delete</button>
</div>
<div class="nav-tabs-custom">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#tab_1" data-toggle="tab">Info</a></li>
        <li><a href="#tab_2" data-toggle="tab">Attribute</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="tab_1">
            <table class="table table-striped table-bordered">
                <tbody>
                    <tr><th>ID</th><td>{{ provider.id }}</td></tr>
                    <tr><th>Name</th><td>{{ provider.name }}</td></tr>
                    <tr><th>ProviderName</th><td>{{ provider.provider_name }}</td></tr>
                </tbody>
            </table>
        </div>
        <div class="tab-pane" id="tab_2">
            <table class="table table-striped table-bordered">
                <thead>
                <tr>
                    <th>Key</th>
                    <th>Value</th>
                </tr>
                </thead>
                <tbody>
                {% for attribute in provider.attribute.all %}
                <tr>
                    <td>
                        {{ attribute.key }}
                    </td>
                    <td>
                        {{ attribute.value }}
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}