{% extends 'adminlte/base.html' %}

{% block title %}My App{% endblock %}
{% block content %}
<h1>Providers</h1>
<div align="right">
    <button class="btn btn-primary" onClick="location.href='{% url 'provider-create' %}'" >Add</button>
</div>
<table class="table table-striped table-bordered">
    <thead>
    <tr>
        <th>ID</th>
        <th>Provider name</th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {% for provider in object_list %}
    <tr>
        <td>
            <a href="{% url 'provider-detail' pk=provider.id %}">{{ provider.id }}</a>
        </td>
        <td>
            <a href="{% url 'provider-detail' pk=provider.id %}">{{ provider.name }}</a>
        </td>
        <td><button class="btn btn-info" onClick="location.href='{% url 'provider-edit' pk=provider.id %}'">Edit</button></td>
        <td><button class="btn btn-danger" onClick="location.href='{% url 'provider-delete' pk=provider.id %}'">Delete</button></td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}