{% extends 'adminlte/base.html' %}
{% load i18n %}

{% block title %}{% trans '404' %}{% endblock %}
{% block content %}{% load tz %}
<!-- Main content -->
<section class="content">
  <div class="error-page">
    <h2 class="headline text-yellow">{% trans '404' %}</h2>

    <div class="error-content">
      <h3><i class="fa fa-warning text-yellow"></i>{% trans 'Oops! Page not found.' %}</h3>
    </div>
    <!-- /.error-content -->
  </div>
  <!-- /.error-page -->
</section>
<!-- /.content -->
{% endblock %}