{% extends 'adminlte/base.html' %}
{% load i18n %}
{% load tag %}
{% block title %}pstate - Problems{% endblock %}
{% block content %}{% load tz %}
<h1>{% trans 'Problems' %}</h1>
<div align="right">
    <button class="btn btn-primary" onClick="location.href='{% url 'pstate-manage:problem-create' %}'" >{% trans 'Add' %}</button>
    <button class="btn btn-primary" onClick="location.href='{% url 'pstate-manage:bulk-problem-add' %}'" >{% trans 'Bulk Add' %}</button>
    {% get_setting 'webui_admin_problem_all_delete_is_enable' as webui_admin_problem_all_delete_is_enable %}
    {% if webui_admin_problem_all_delete_is_enable.value == 'True' %}
    <button class="btn btn-danger" onClick="location.href='{% url 'pstate-manage:all-problem-delete' %}'" >{% trans 'All Problem Delete' %}</button>
    {% endif %}
</div>
<table class="table table-striped table-bordered">
    <thead>
    <tr>
        <th>{% trans 'ID' %}</th>
        <th>{% trans 'Problem name' %}</th>
        <th>{% trans 'Problem name(For management)' %}</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {% for problem in object_list %}
    <tr>
        <td>
            <a href="{% url 'pstate-manage:problem-detail' pk=problem.id %}">{{ problem.id }}</a>
        </td>
        <td>
            <a href="{% url 'pstate-manage:problem-detail' pk=problem.id %}">{{ problem.display_name }}</a>
        </td>
        <td>
            <a href="{% url 'pstate-manage:problem-detail' pk=problem.id %}">{{ problem.name }}</a>
        </td>
        <td><button class="btn btn-danger" onClick="location.href='{% url 'pstate-manage:problem-delete' pk=problem.id %}'">{% trans 'Delete' %}</button></td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}