{% extends 'adminlte/base.html' %}
{% load i18n %}
{% block title %}{% endblock %}
{% block content %}{% load tz %}
<h1>{% trans 'Problems' %}</h1>
<table class="table table-striped table-bordered">
    <thead>
    <tr>
        <th>{% trans 'ID' %}</th>
        <th>{% trans 'Problem name' %}</th>
    </tr>
    </thead>
    <tbody>
    {% for problem in object_list %}
    <tr>
        <td>
            <a href="{% url 'pstate-user:problem-detail' pk=problem.id %}">{{ problem.id }}</a>
        </td>
        <td>
            <a href="{% url 'pstate-user:problem-detail' pk=problem.id %}">{{ problem.display_name }}</a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}