{% extends 'adminlte/base.html' %}
{% load i18n %}
{% block title %}{% endblock %}
{% block content %}{% load tz %}
<h1>{{ problemenvironment.id }}</h1>
<div align="right">
    {% if problemenvironment.state == "READY" %}
    <button class="btn btn-danger" onClick="location.href='{% url 'pstate-user:problemenvironment-start' pk=problemenvironment.id %}'" >{% trans 'Start' %}</button>
    {% elif problemenvironment.state == "IN_PROGRESS" %}
    <button class="btn btn-danger" onClick="location.href='{% url 'pstate-user:problemenvironment-end' pk=problemenvironment.id %}'" >{% trans 'ProblemEnd' %}</button>
    {% endif %}
</div>
<div class="nav-tabs-custom">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#tab_1" data-toggle="tab">{% trans 'Info' %}</a></li>
        <li><a href="#tab_2" data-toggle="tab">{% trans 'Connection info' %}</a></li>
        <li><a href="#tab_3" data-toggle="tab">{% trans 'Log' %}</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="tab_1">
            <table class="table table-striped table-bordered">
                <tbody>
                    <tr><th>{% trans 'ID' %}</th><td>{{ problemenvironment.id }}</td></tr>
                    <tr><th>{% trans 'State' %}</th><td>{% trans problemenvironment.state %}</td></tr>
                    <tr><th>{% trans 'Problem name' %}</th><td><a href="{% url 'pstate-user:problem-detail' pk=problemenvironment.problem.id %}">{{ problemenvironment.problem.display_name }}</a></td></tr>
                    <tr><th>{% trans 'Created At' %}</th><td>{{ problemenvironment.created_at | localtime }}</td></tr>
                    <tr><th>{% trans 'Updated At' %}</th><td>{{ problemenvironment.updated_at | localtime }}</td></tr>
                </tbody>
            </table>
        </div>
        <div class="tab-pane" id="tab_2">
            <h3>VNC</h3>
            <table class="table table-striped table-bordered">
                <tbody>
                    <tr><th>{% trans 'VNC IP address' %}</th><td>
                        {% if problemenvironment.vnc_server_ipv4_address != None %}
                        {{ problemenvironment.vnc_server_ipv4_address }}
                        {% else %}
                        ※VNCサーバを作成中です※
                        {% endif %}
                        </td></tr>
                    <tr><th>{% trans 'VNC port' %}</th><td>{{ problemenvironment.vnc_server_port }}</td></tr>
                    <tr><th>{% trans 'VNC user' %}</th><td>{{ problemenvironment.vnc_server_username }}</td></tr>
                    <tr><th>{% trans 'VNC password' %}</th><td>{{ problemenvironment.vnc_server_password }}</td></tr>
                </tbody>
            </table>
        </div>
        <div class="tab-pane" id="tab_3">
            <table class="table table-striped table-bordered">
                <thead>
                <tr>
                    <th>{% trans 'Date' %}</th>
                    <th>{% trans 'Message' %}</th>
                    <th>{% trans 'Before state' %}</th>
                    <th>{% trans 'After state' %}</th>
                </tr>
                </thead>
                <tbody>
                {% for log in problemenvironment.sorted_log_set.all %}
                <tr>
                    <td>{{ log.created_at | localtime }}</td>
                    <td>{{ log.message }}</td>
                    {% if log.before_state is None %}
                    <td></td>
                    {% else %}
                    <td>{% trans log.before_state %}</td>
                    {% endif %}
                    {% if log.after_state is None %}
                    <td></td>
                    {% else %}
                    <td>{% trans log.after_state %}</td>
                    {% endif %}
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}